* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tg td {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 4px 3px;
    border-style: solid;
    overflow: hidden;
    word-break: normal;
    cursor: pointer;
    border: 2px solid red;
    backface-visibility: hidden;
}

.tg th {
    text-align: left;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid red;
    border: 2px solid red
}
.score-box {
    display: none;
    margin: auto;
    z-index: 100;
}

.odometer {
    font-size: 50px;
}

/* .tg td:hover {
    background-color: rgba(167, 125, 167, 0.336);
} */

.table-box {
    position: relative;
    padding: 5px;
    display: inline-block;
    border: 1px solid red;
   
}

.wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.checked-field {
    background-color: rgb(255, 146, 146);
    color: white;
}

.avoid-click {
    cursor: none;
    pointer-events: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@media only screen and (max-width: 425px) {
    body {
        background-color: lightblue;
    }
    .ball-box {
        display: none;
        position: relative;
        height: auto;
        width: 200px;
        transition: all 2s;
        border: 1px solid red;
        z-index: 30;
    }

    .ball-1 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url("img/loto-kugla1-sm.png");
        animation: spin 1s linear, moveLeft 1s linear;
        animation-fill-mode: both;
        position: absolute;
        top: 0%;
    }
    .ball-2 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url("img/loto-kugla2-sm.png");
        animation: spin 1s linear, moveLeft2 1s linear;
        animation-delay: 1s;
        animation-fill-mode: both;
        position: absolute;
        top: 13%;
    }
    .ball-3 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url("img/loto-kugla3-sm.png");
        animation: spin 1s linear, moveLeft3 1s linear;
        animation-delay: 2s;
        animation-fill-mode: both;
        position: absolute;
        top: 26%;
    }
    .ball-4 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url("img/loto-kugla4-sm.png");
        animation: spin 1s linear, moveLeft4 1s linear;
        animation-delay: 3s;
        animation-fill-mode: both;
        position: absolute;
        top: 39%;
    }
    .ball-5 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url("img/loto-kugla5-sm.png");
        animation: spin 1s linear, moveLeft5 1s linear;
        animation-delay: 4s;
        animation-fill-mode: both;
        position: absolute;
        top: 52%;
    }
    .ball-6 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url("img/loto-kugla6-sm.png");
        animation: spin 1s linear, moveLeft6 1s linear;
        animation-delay: 5s;
        animation-fill-mode: both;
        position: absolute;
        top: 65%;
    }
    .result-box {
        position: relative;
        top: 15px;
        left: 16px;
        font-size: 20px;
        z-index: 50;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-720deg);
        }
    }
   
    @keyframes moveLeft {
        0% {
            right: -70%;
            opacity: 0;
        }
        100% {
            top: 0%;
            right: 50%;
        }
    } 
    @keyframes moveLeft2 {
        0% {
            right: -70%;
            opacity: 0;
        }
        100% {
            top: 13%;
            right: 50%;
        }
    }
    @keyframes moveLeft3 {
        0% {
            right: -70%;
            opacity: 0;
        }
        100% {
            top: 26%;
            right: 50%;
        }
    }
    @keyframes moveLeft4 {
        0% {
            right: -70%;
            opacity: 0;
        }
        100% {
            top: 39%;
            right: 50%;
        }
    }
    @keyframes moveLeft5 {
        0% {
            right: -70%;
            opacity: 0;
        }
        100% {
            top: 52%;
            right: 50%;
        }
    }
    @keyframes moveLeft6 {
        0% {
            right: -70%;
            opacity: 0;
        }
        100% {
            top: 65%;
            right: 50%;
        }
    }


    .popup {
        display: none;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color:rgba(255, 255, 255, 0.473);
        z-index: 50;
    }
    
    /* .popup-container {
        position: absolute;
        top: 250%;
        left: 25%;
        min-width: 50vh;
        transform: translate(-50%, -50%);
        background-color: #eee;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
        border-radius: 15px;
        animation: box 1s ease-in-out;
        animation-fill-mode: forwards;
        backface-visibility: hidden;
    } */
    
    
    
   
}

/* @media only screen and (max-width: 768px) {

    body {
        background-color: rgb(255, 182, 182);
    }
    

} */